.footer{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 2em;
    p{
        background: -webkit-linear-gradient(orange, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}