.home{
    .no-list-placeholder{
        background: -webkit-linear-gradient(orange, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        align-items:center;
        justify-content: center;
        align-self: center;
        text-align: center;
    }
}