@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


html {
  margin: 0;
  font-family:'Anton', sans-serif;
    background-color: black;
//     background-color: #FAD961;
// background-color: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
